SECRET_KEY=change-this-secret-key
DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost

# CORS
CORS_ALLOW_ALL_ORIGINS=1

# Database (MySQL)
DB_ENGINE=django.db.backends.mysql
DB_NAME=ecommerce_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
